* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::after,
  *::after {
    box-sizing: border-box;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
}


form, label, input {
    font-size: var(--text);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus, textarea:focus, input:focus {
        font-size: var(--text);
    }
}

/* ::-webkit-scrollbar {
    display: none;   
} */



.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}


:root {
    --white: #fff;
    --black: #333333;
    --h1: 50px;
    --h2: 30px;
    --h3: 20px;
    --subtitle: 18px;
    --text: 14px;
    --button-text: 18px;
}
@media screen and (max-width: 992px){
    :root {
        --h1: 36px;
        --h2: 28px;
        --h3: 24px;
        --subtitle: 16px;
        --text: 14px;
        --button-text: 18px;
    }
}